
{% extends 'base.html' %}


{% load static %}

{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bbs_js_css/main_index.css' %}">
{% endblock %}

{% block header %}
    {# 网站图标   #}
    <div id="football">
        <img src="{% static 'image/football.png' %}" alt="网站图标">
        <font id="f1">足球论</font>
        <font id="f2">—football论坛</font>


    </div>

    <div id="header">
        <img src="{% static 'image/background.jpg' %}" alt="背景图片">
    </div>
{% endblock %}

{% block content %}
    <div id="content">

    </div>
{% endblock %}